body {
  background-color: #e3e3e3;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 80ch;
}

.image {
  max-height: 300px;
  width: 100%;
  height: auto;
  object-fit: contain;
}
