@media (hover: hover) {
  img[data-zoomable-image]:hover {
    cursor: zoom-in;
  }
}

.zoom-modal[open] {
  max-width: none;
  max-height: none;
  animation: emerge 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  overflow: visible;
}

.zoom-modal[open]::backdrop {
  background: #000000e4;
}

.zoom-modal[open] .zoom-modal-button {
  --button-position-top: -16px;
  --button-position-right: -16px;
  --button-background: #bcbcbc;
  --button-color: black;
  --button-outline: 4px solid #dc143c;

  display: flex;
  position: absolute;
  background-color: var(--button-background);
  color: var(--button-color);
  right: var(--button-position-right);
  top: var(--button-position-top);
  padding: 0.3rem;
  border: none;
  border-radius: 6px;
}

@media (hover: hover) {
  .zoom-modal-button:hover {
    filter: brightness(0.8);
  }
}
.zoom-modal-button:focus-visible {
  outline: var(--button-outline);
}

@keyframes emerge {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
