@media (hover: hover) {
  img[data-zoomable-image]:hover {
    cursor: zoom-in;
  }
}

/* UI Settings */
.zi {
  --button-background: var(--zi-button-background, #bcbcbc);
  --button-color: var(--zi-button-color, black);
  --button-focus-outline: var(--zi-button-focus-outline, 4px solid #9000a3);
  --button-outline: var(--zi-button-outline, none);
  --button-position-right: var(--zi-button-position-right, -16px);
  --button-position-top: var(--zi-button-position-top, -16px);
  --image-max-height: var(--zi-image-max-height, 92vh);
  --image-max-width: var(--zi-image-max-width, 92vw);
  --image-outline: var(--zi-image-outline, none);

  @media (width < 48rem) {
    --button-position-right: var(--zi-button-position-right, -10px);
    --button-position-top: var(--zi-button-position-top, -10px);
  }
}

.zi::backdrop {
  /* Currently, backdrop doesn't inherit */
  --backdrop-color: var(--zi-backdrop-color, #000000e4);
}

.zi[open] {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  max-width: none;
  max-height: none;
  padding: 0;
  border: none;
  background: none;
  animation: emerge 0.3s ease-in-out;
  overflow: visible;
}

.zi[open]::backdrop {
  background: var(--backdrop-color);
  backdrop-filter: blur(10px);
}

.zi div {
  position: relative;
}

.zi[open] img {
  display: flex;
  object-fit: contain;
  max-width: var(--image-max-width);
  max-height: var(--image-max-height);
  background: var(--backdrop-color);
  outline: var(--image-outline);
  box-sizing: border-box;
}

.zi-button {
  display: flex;
  position: absolute;
  background-color: var(--button-background);
  color: var(--button-color);
  right: var(--button-position-right);
  top: var(--button-position-top);
  outline: var(--button-outline);
  padding: 0.2rem;
  border: none;
  border-radius: 6px;
}

@media (hover: hover) {
  .zi-button:hover {
    filter: brightness(0.8);
  }
}

.zi-button:focus {
  outline: var(--button-focus-outline);
}

.zi-visually-hidden {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

@keyframes emerge {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
